*{
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Inter', sans-serif;
}


.nav{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 20px;
    margin-bottom: 20px;
}
.items{
    display: flex;
    gap: 2rem;
    list-style: none;
}
.item{
    color: #5E607A;
    text-decoration: none;
}
.items .item:hover{
    color: orange;
}

/* --------main--------- */

.container {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    grid-template-areas:
    "img img aside"
    "titulo titulo aside";
    gap: 1rem;
}
.image-title{
    grid-area: img;
    /* background-color: red; */
}
.image-cubes{
    height: 50vh;
    /* height: 40%; */
}

.image-cubes img{
    width: 100%;
    height: 100%;
}
.title-new{
    padding-top: 5%;
    grid-area: titulo;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "titulo texto";
    gap: 2rem;
}
.title{
    grid-area: titulo;
}
.title h1{
    font-size: 4em;
}
.text-title{
    grid-area: texto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.text-title p{
    font-size: 1em;
    width: 90%;
    line-height: 26px;
    color: #5E607A;
}
.text-title a{
    width: 150px;
    padding: 15px 30px;
    text-decoration: none;
    text-align: center;
    background-color: #F15D51;
    color: #fff;
    font-weight: bold;
}
.text-title a:hover{
    background-color: black;
}

aside{
    grid-area: aside;
}
.news{
    height: 84%;
    background-color: #00001A;
    padding: 10%;
    display: flex;
    flex-direction: column;
}
.news h2{
    color: #E9AA52;
    font-size: 2rem;
}
.New{
    padding:  30px 0px 10px;
}
.New h3{
    font-size: 1rem;
    color: #FFFDFA;
}
.New p{
    color: #5E607A;
    padding-top: 8%;
    padding-bottom: 8%;
}
/* ------------section------------------ */
.more-news{
    /* background-color: red; */
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    column-gap: 1rem;
}
.News{
    display: flex;
    justify-content: space-between;
    column-gap: 2rem;
}
.image-more-news{
    width: 10vw;
    height: 22vh;
}
.image-more-news img{
    width: 100%;
    height: 100%;
}
.text-new{
    display: flex;
    flex-direction: column;
    /* padding: 1rem; */
}
.text-new h1{
    font-size: 2rem;
    color: #C5C6CE;
    padding-bottom: 5%;
}
.text-new h2{
    padding-bottom: 5%;
    font-size: 1.5vw;
}
.text-new p{
    font-size: 1rem;
    color: #5E607A;
}
